<div class="location">
	<a href="/"><%= _t "location.index" %></a><a href="/service"><%= _t "location.service" %></a><span><%= _t "location.guestbook_new" %></span>
</div>
<div class="clear"></div>
<div class="content_box service">
	<div class="ser_action">
		<h2><%= _t "location.guestbook_new" %></h2>
		<div class="ser_con">
			<form name="form1" method="post" action="/service" onSubmit="return ckfrm();">
				<input type="hidden" name="action" value="ok" class="input"/>
				<ul>
					<li>
						<b>选择您的所在地</b>
						<br />
						<div id="city_4">
							<select class="prov" name="eds_prov"></select>
							<select class="city" name="eds_city" disabled="disabled"></select>
							<select class="dist" name="eds_dist" disabled="disabled"></select>
						</div>
					</li>
					<li>
						<b>填写故障内容描述<span>“请务必留下您的联系方式”</span></b>
						<br />
						<textarea name="eds_content" rows="10" style="width:99%;"></textarea>
					</li>
					<li>
						<button type="submit">确认提交</button>
					</li>
					<li>
						<div class="ser_tel">或者拨打全国统一售后电话<br />400-820-0407</div>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>
