<div class="location">
	<a href="/"><%= _t "location.index" %></a><a href="/service"><%= _t "location.service" %></a><span><%= _t "location.guestbooks" %></span>
</div>
<div class="clear"></div>
<div class="content_box service">
	<div class="ser_action">
		<h2><%= _t "location.guestbooks" %></h2>
		<div class="ser_con">
			<ul>
				<li>
					<div class="guestbook-t"><span></span></div>
					<div class="guestbook-q"></div>
					<div class="guestbook-a"></div>
					<div class="guestbook-reply"></div>
				</li>
			</ul>
		</div>
	</div>
</div>
