
	<tbody>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
		<tr>
			<td class="data_label">名称：</td>
			<td class="data_ipt">
				<%= f.text_field :title, :style => "width:400px;" %>
			</td>
		</tr>
		<tr>
			<td class="data_label">图片：</td>
			<td class="data_ipt">
				<%= f.text_field :img_url, :style => "width:400px;" %>
			</td>
		</tr>
		<tr>
			<td class="data_label">内容：</td>
			<td class="data_ipt">
				<%= f.text_area :info, :style => "width:400px;height:120px;" %>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td class="data_sbt">
				<input type="submit" name="submit" value="提交" />
			</td>
		</tr>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
	</tbody>