<table class="stdtable edtable">
	<thead>
		<tr>
			<th width="10%">编号</th>
			<th>城市</th>
			<th width="30%">状态</th>
			<th width="30%">管理</th>
		</tr>
	</thead>
	<tbody>
	<%
		if @sales.length>0
			@sales.each do |sale|
	%>
		<tr>
			<td><%= sale.city_id %></td>
			<td><%= sale.city %></td>
			<td><% if !sale.info.blank? %><b>已开通</b><% else %>未开通<% end %></td>
			<td>
				<a href="/admin/sales/<%= sale.id %>/edit">编辑信息</a>|<%= link_to "清空信息", {:action => "clear", :id => sale}, :confirm => "确定清空？", :method => "post" %>
			</td>
		</tr>
	<%
			end
		else
	%>
		<tr>
			<td colspan="4" style="text-align:left;">&nbsp;还没有内容。</td>
		</tr>
	<%
		end
	%>
	</tbody>
</table>