<div class="location"><a href="index.asp">首页</a><a href="about.asp">关于梦露</a><a href="news.asp?c_id=1">MORO资讯</a><span>梦露智能座便器 五月上旬广告预播单</span></div>
<div class="clear"></div>
<div class="content_box">
  <div class="con_left" style="min-height:500px;">
  <script type="text/javascript" src="js/sc.js"></script>
    <div class="title">
	  <h1>梦露智能座便器 五月上旬广告预播单</h1>
	  <div class="time">时间：2013-05-02</div>
	  <div class="right_fd">
        <script>share();</script>
      </div>
	</div>
	<div class="ny_content mt10"><img src="../upload/editor/20130502131050277_eday.jpg" alt="" /></div>
  </div>
  <div class="con_right news_right">
  <!--div class="con_right news_right" 跟随滚动条滚动-->
    <div class="news_list">
	  <div class="title">最新资讯 </div>
	  <div id="news_1"><img src="images/loading.gif" align="absmiddle" /> 加载中...</div>
	  <script language="javascript">ajax_list("news_list.asp?c_id=1","#news_1");</script>
	</div>
    <div class="news_list">
	  <div class="title">社区公益 </div>
	  <div id="news_2"><img src="images/loading.gif" align="absmiddle" /> 加载中...</div>
	  <script language="javascript">ajax_list("news_list.asp?c_id=2","#news_2");</script>
	</div>
  </div>
</div>
