<%= form_for [:admin, @friendlink] do |f| %>
<table class="newtable">
	<thead>
		<tr>
			<th colspan="2">新增</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
		<tr>
			<td class="data_label">名称：</td>
			<td class="data_ipt">
				<%= f.text_field :title %>
			</td>
		</tr>
		<tr>
			<td class="data_label">地址：</td>
			<td class="data_ipt">
				<%= f.text_field :link %>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td class="data_sbt">
				<input type="submit" name="submit" value="提交" />
			</td>
		</tr>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
	</tbody>
</table>
<% end %>