<div id="index_pic">
<div id="banner_pic">
  <a href="http://morocn.com/products.asp" target="_blank" class="banner_img" style="background:url(/upload/slide/7909121204205634_large.jpg) no-repeat center top;"></a>
  <a href="http://www.morocn.com/news.asp?c_id=1" target="_blank" class="banner_img" style="background:url(/upload/slide/9064121206160018_large.jpg) no-repeat center top;"></a>
  <a href="http://morocn.com/quality.asp" target="_blank" class="banner_img" style="background:url(/upload/slide/2030130318135349_large.jpg) no-repeat center top;"></a>
  <a href="http://morocn.com/products.asp" target="_blank" class="banner_img" style="background:url(/upload/slide/7452130318135229_large.jpg) no-repeat center top;"></a>
  <div class="banner_num"><a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a></div>
</div>
</div>
<div class="clear"></div>
<div class="block_box">
<span><a href="http://item.taobao.com/item.htm?spm=686.1000925.1000774.46.SJ9NUc&id=16742541157" title="梦露智能座便器淘宝网店" target="_blank"><img src="/upload/slide/9118121204205745_large.jpg" alt="梦露智能座便器淘宝网店"/></a></span><span><a href="http://morocn.com/news.asp?s_id=41" title="梦露智能座便器广告登陆央视CCTV" target="_blank"><img src="/upload/slide/6337121204205810_large.jpg" alt="梦露智能座便器广告登陆央视CCTV"/></a></span><span><a href="/quality" title="七星质保" target="_blank"><img src="/upload/slide/2180121204205823_large.jpg" alt="七星质保"/></a></span>
</div>

<%= javascript_include_tag "jquery.soChange" %>
<script type="text/javascript">
$(function(){	
	$(".block_box a").hover(function() {
		$(this).stop().fadeTo("fast", 0.5);
	},function() {
		$(this).stop().fadeTo("fast", 1);
	});
});
</script>
