<div class="location"><a href="/" title="网站首页">首页</a><a href="/about" title="关于梦露">关于梦露</a><span>企业文化</span></div>
<div class="clear"></div>
  <div class="content_box faq">
    <div class="ser_action">
	  <p align="left"><strong><img src="/upload/editor/201212061707169876_eday.jpg" alt="" height="200" width="911" /><br /></strong></p><p><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>梦露是谁</strong><br />梦露是高品质、智能生活的缔造者，梦露人以不断改善现代人的居住生活品质为己任，专注于制造高品质、环保、时尚的智能卫浴产品，梦露智能产品更是高品质、舒适、人性化的代名词。</span></p><p><span style="font-family:Microsoft YaHei;font-size:14px;"><br /><strong>梦露成长机会</strong><br />每一位加入梦露的员工、加盟商、经销商，将与供应商一起打造共赢的机制，大家将与梦露共同成长，使梦露事业充满活力的发展壮大。</span></p><p><span style="font-family:Microsoft YaHei;font-size:14px;"><br /><strong>梦露的愿望</strong><br />成为所有梦露人实现自我价值的理想平台；<br />为现代人打造最人性化的智能家电；<br />为加盟商提供最具价值的产品；<br />为社会做出属于“梦露”自己的贡献。</span></p><p><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>&nbsp;<br />梦露核心价值观</strong><br />诚信、敬业、感恩、公正、奉献</span></p><p><span style="font-family:Microsoft YaHei;font-size:14px;"><br /><strong>梦露服务誓言</strong><br />客户的需要是我们的目标！<br />客户的满意是我们的追求！<br />客户的问题是我们的财富！</span></p><p><span style="font-family:Microsoft YaHei;font-size:14px;"><br /><strong>梦露领导经营理念</strong><br />快乐员工，关爱和培训下属；<br />满意客户，以客户利益为重；<br />勇挑重担，坚决完成任务。</span></p><p><span style="font-family:Microsoft YaHei;font-size:14px;"><br /><strong>梦露核心竞争力</strong><br />自有一流的研发团队；行业领军的产品和服务；强势的品牌文化。</span></p><p><span style="font-family:Microsoft YaHei;font-size:14px;"><br /><strong>梦露使命</strong><br />用科技创造健康生活，梦露电气，缔造智能未来。</span></p>
	</div>
  </div>
