<div class="location"><a href="/">首页</a><a href="/join">招商加盟</a><span>招商流程</span></div>
<div class="clear"></div>
  <div class="content_box faq">
    <div class="ser_action">
	  <div style="text-align: center;"><img src="/upload/editor/201212061723155325_eday.jpg" alt="" /></div>
	</div>
  </div>
