<div class="location"><a href="/" title="网站首页">首页</a><a href="/products" title="产品中心">产品中心</a><span>产品列表</span></div>
<div class="clear"></div>
<div class="content_box">
  <div class="pro_list">
    <ul>
	  	  <li>
	    <a href="products_show.asp?s_id=1" class="pic"><img src="upload/products/5129121114154225_big.jpg" alt="ML-80"/></a>
		<a href="products_show.asp?s_id=1" class="text"><b>ML-80</b> 智能马桶盖</a>
	  </li>
	  <li class="last">
	    <a href="products_show.asp?s_id=6" class="pic"><img src="upload/products/5391121204173211_big.jpg" alt="ML-86"/></a>
		<a href="products_show.asp?s_id=6" class="text"><b>ML-86</b> 智能马桶盖</a>
	  </li>
	  <li>
	    <a href="products_show.asp?s_id=4" class="pic"><img src="upload/products/9525121114155743_big.jpg" alt="ML-86A"/></a>
		<a href="products_show.asp?s_id=4" class="text"><b>ML-86A</b> 智能马桶盖</a>
	  </li>
	  <li class="last">
	    <a href="products_show.asp?s_id=3" class="pic"><img src="upload/products/9839121114155733_big.jpg" alt="ML-88"/></a>
		<a href="products_show.asp?s_id=3" class="text"><b>ML-88</b> 智能马桶盖</a>
	  </li>
	  <li>
	    <a href="products_show.asp?s_id=2" class="pic"><img src="upload/products/0504121114155719_big.jpg" alt="ML-88A"/></a>
		<a href="products_show.asp?s_id=2" class="text"><b>ML-88A</b> 智能马桶盖</a>
	  </li>
	  <li class="last">
	    <a href="products_show.asp?s_id=8" class="pic"><img src="upload/products/6392121204213425_big.jpg" alt="ML-100"/></a>
		<a href="products_show.asp?s_id=8" class="text"><b>ML-100</b> 智能马桶盖</a>
	  </li>
	  <li>
	    <a href="products_show.asp?s_id=9" class="pic"><img src="upload/products/4253121204213452_big.jpg" alt="ML-208"/></a>
		<a href="products_show.asp?s_id=9" class="text"><b>ML-208</b> 智能一体机</a>
	  </li>
	  <li class="last">
	    <a href="products_show.asp?s_id=10" class="pic"><img src="upload/products/4389121204213507_big.jpg" alt="ML-228"/></a>
		<a href="products_show.asp?s_id=10" class="text"><b>ML-228</b> 智能一体机</a>
	  </li>

	  <!--li class="more">
	    <a href="javascript:;" class="pic"><img src="images/qidai.jpg" /></a>
	  </li-->
	</ul>
  </div>
</div>
