<div class="location">
	<a href="/"><%= _t "location.index" %></a><span><%= _t "location.product_order" %></span>
</div>
<div class="clear"></div>
<div class="content_box order">
	<p style="margin:200px 0;text-align:center;font-weight:bold;font-size:14px;"><%= _t "product.order_succ" %></p>
</div>