<div class="location">
	<a href="/">首页</a><span>产品订购</span>
</div>
<div class="clear"></div>
<div class="content_box order">
	<p style="margin:200px 0;text-align:center;font-weight:bold;font-size:14px;">订购成功，我们会在一周内联系您。</p>
</div>