<div class="location"><a href="/" title="网站首页">首页</a><a href="/products" title="产品中心">产品中心</a><a href="products.asp?c_id=1" title="智能马桶盖">智能马桶盖</a><span>ML-80</span></div>
  <div class="clear"></div>
  <div class="content_box">
    <div class="con_left">
      <div class="pro_pic">
        <div id="banner_pic">	  
	  <a href="javascript:;" class="banner_img" title="ML80-侧面图" style="background:url(upload/productszu/51291211141542251_big.jpg) no-repeat center top;"></a>
	  <a href="javascript:;" class="banner_img" title="ML-80打开图" style="background:url(upload/productszu/51291211141542252_big.jpg) no-repeat center top;"></a>
	  <a href="javascript:;" class="banner_img" title="ML-80正面图" style="background:url(upload/productszu/51291211141542253_big.jpg) no-repeat center top;"></a>
	  <a href="javascript:;" class="banner_img" title="ML-80细节图" style="background:url(upload/productszu/51291211141542254_big.jpg) no-repeat center top;"></a>
	  <div class="banner_num">
	    <a href="javascript:;"><img src="upload/productszu/51291211141542251_small.jpg" /></a>
	    <a href="javascript:;"><img src="upload/productszu/51291211141542252_small.jpg" /></a>
	    <a href="javascript:;"><img src="upload/productszu/51291211141542253_small.jpg" /></a>
	    <a href="javascript:;"><img src="upload/productszu/51291211141542254_small.jpg" /></a>
	  </div>

        </div>
      </div>
    </div>
    <div class="con_right">
      <div class="pro_show">
        <div class="title">
          <ul>
            <li class="curr">规格参数</li>
            <li>功能特点</li>
            <li>说明书下载</li>
          </ul>
        </div>
        <div class="pro_content">
          <div class="jScrollbar tab" id="jScroll">
            <div class="jScrollbar_mask">
              <!--规格-->
              <div class="guige">
                <ul>
                  <li>
                    <div class="label">型号：</div>
                    <div class="cont">ML-80</div>
                  </li>
                  <li>
                    <div class="label">电源：</div>
                    <div class="cont">220V</div>
                  </li>
                  <li>
                    <div class="label">水温：</div>
                    <div class="cont">41℃</div>
                  </li>
                  <li>
                    <div class="label">水温加热功率：</div>
                    <div class="cont">1000W</div>
                  </li>
                  <li>
                    <div class="label">暖风温度：</div>
                    <div class="cont">35~65℃</div>
                  </li>
                  <li>
                    <div class="label">暖风加热功率：</div>
                    <div class="cont">300W</div>
                  </li>
                  <li>
                    <div class="label">座圈加热功率：</div>
                    <div class="cont">20W</div>
                  </li>
                  <li>
                    <div class="label">水箱容积：</div>
                    <div class="cont">0.8L</div>
                  </li>
                  <li>
                    <div class="label">适用水压：</div>
                    <div class="cont">0.08～0.70mpa</div>
                  </li>
                  <li>
                    <div class="label">冲洗流量：</div>
                    <div class="cont">0.7L/min</div>
                  </li>
                  <li>
                    <div class="label">女性清洗水量：</div>
                    <div class="cont">0.9L/min</div>
                  </li>
                  <li>
                    <div class="label">排水方式：</div>
                    <div class="cont">/</div>
                  </li>
                  <li>
                    <div class="label">坑距：</div>
                    <div class="cont">/</div>
                  </li>
                  <li>
                    <div class="label">冲水方式：</div>
                    <div class="cont">/</div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="jScrollbar tab" id="jScroll" style="z-index:-1">
            <div class="jScrollbar_mask">
              <!--功能参数-->
              <div class="gongneng">
                <ul>
                  <li><div class="pic"><img src="upload/products_gn/1593121204220007_small.jpg" /></div><div>便后清洁：温水除菌强力冲洗，干净舒畅不留脏污。经加热的温水，由专用喷头喷出进行集中和不同水压的便后臀部清洗，干净、舒适，有效预防各类疾病。</div></li>
                  <li><div class="pic"><img src="upload/products_gn/8684121206142012_small.jpg" /></div><div>暖风烘干：可调温度暖风吹干，温柔清爽倍感呵护。温暖舒适的烘干气流，符合人体工学的风压设计，令清洗后的臀部恢复干爽。风温在40-60℃之间，多档可调，任你自由选择。</div></li>
                  <li><div class="pic"><img src="upload/products_gn/1403121206142029_small.jpg" /></div><div>女性清洗：专用喷头柔水清洗，预防炎症远离痔疮。由女性专用喷头喷出较大面积的柔和温水进行清洗，日常及经期更能保持下身清洁和抑菌作用，有效防止交叉感染。</div></li>
                  <li><div class="pic"><img src="upload/products_gn/5540121206142103_small.jpg" /></div><div>抗菌加温：抗菌材质智能恒温，健康卫生舒适宜人。座圈采用高级抗菌树脂材料，有效抑制细菌的繁殖再生！电热膜技术给座圈加热供暖，即使寒冬，也可尽享马桶的额“温情”。</div></li>
                  <li><div class="pic"><img src="upload/products_gn/7086121206142136_small.jpg" /></div><div>通便保健：辅助保健按摩水疗，缓解便秘痔疮苦恼。对于便秘或有痔疮的人群，专有的通便喷头可以强劲的水流对肛门进行冲洗，实现润肠、按摩作用，使排便变得更轻松。</div></li>
                  <li><div class="pic"><img src="upload/products_gn/7818121206142246_small.jpg" /></div><div>喷头自洁：喷管、喷头在伸出及复位时，均有清水自洁自身，避免细菌交叉感染。</div></li>
                  <li><div class="pic"><img src="upload/products_gn/5507121206142210_small.jpg" /></div><div>自动除臭：活性炭强力去异味，清新空气美化环境。采用高科技自动除臭滤芯，及时有效的清除马桶内的异味，使正在使用或下次使用的人免受异味侵扰。</div></li>
                  <li><div class="pic"><img src="upload/products_gn/4188121206142632_small.jpg" /></div><div>净化过滤：内设节水过滤装置，有效过滤掉自来水中的杂质，省水省电保证水质。</div></li>
                  <li><div class="pic"><img src="upload/products_gn/9185121206142355_small.jpg" /></div><div>水温调节：四档调温，常温，低温35℃，中温38℃，高温41℃，可任意选择。</div></li>
                  <li><div class="pic"><img src="upload/products_gn/8002121206142659_small.jpg" /></div><div>阻尼缓降：特有物理阻尼缓降技术，有效保证座圈起放柔和，避免噪声，延长使用寿命。</div></li>
                  <li><div class="pic"><img src="upload/products_gn/9584121206142421_small.jpg" /></div><div>智能节电：在不使用时，MORO智能座便器自动进入休眠节电状态，不会消耗多余电量。</div></li>
                  <li><div class="pic"><img src="upload/products_gn/7992121206142618_small.jpg" /></div><div>一键转换：只需一个按键，冲洗30秒之后自动转入烘干，烘干2分50秒之后，自动结束操作，方便快捷。</div></li>
                  <li><div class="pic"><img src="upload/products_gn/5159121206142847_small.jpg" /></div><div>安全保护：内设防漏电保护、水箱防干烧、防超温等多重安全保护系统，为您的安全使用保驾护航。</div></li>

                </ul>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="down tab" style="z-index:-1;">

		  </div>
        </div>
      </div>
    </div>
	<div class="clear"></div>
	<div class="pro_cookie mt20">
	  <h2><a href="?s_cookie=delall&s_id=1" class="fr">清空浏览列表</a>您浏览过的产品列表</h2>
	  <div class="contact">
	    <a href="shop.asp" class="buy"></a>
		<a target="_blank" href="http://amos.alicdn.com/msg.aw?v=2&uid=%E4%B8%8A%E6%B5%B7%E6%96%8C%E6%B4%81%E5%95%86%E8%B4%B8&site=cntaobao&s=1&charset=utf-8" class="lx"></a>
	  </div>
	  <ul>
	    <li><a href="products_show.asp?s_id=1" class="pic" title="ML-80"><img src="upload/products/5129121114154225_small.jpg" alt="ML-80"/></a></li>
	    <li><a href="products_show.asp?s_id=6" class="pic" title="ML-86"><img src="upload/products/5391121204173211_small.jpg" alt="ML-86"/></a></li>
	    <li class="last"><a href="products_show.asp?s_id=4" class="pic" title="ML-86A"><img src="upload/products/9525121114155743_small.jpg" alt="ML-86A"/></a></li>
	    <li><a href="products_show.asp?s_id=3" class="pic" title="ML-88"><img src="upload/products/9839121114155733_small.jpg" alt="ML-88"/></a></li>
	    <li><a href="products_show.asp?s_id=2" class="pic" title="ML-88A"><img src="upload/products/0504121114155719_small.jpg" alt="ML-88A"/></a></li>
	    <li class="last"><a href="products_show.asp?s_id=8" class="pic" title="ML-100"><img src="upload/products/6392121204213425_small.jpg" alt="ML-100"/></a></li>
	    <li><a href="products_show.asp?s_id=9" class="pic" title="ML-208"><img src="upload/products/4253121204213452_small.jpg" alt="ML-208"/></a></li>
	    <li><a href="products_show.asp?s_id=10" class="pic" title="ML-228"><img src="upload/products/4389121204213507_small.jpg" alt="ML-228"/></a></li>

	  </ul>
	</div>
  </div>
