<div class="location">
	<a href="/">首页</a><span>全国市场一览</span>
</div>
<div class="clear"></div>
<div class="content_box sale">
	<div class="con_left sale_left">
		<div id="sale_con"></div>
		<div class="map_pic">
			<h2>梦露旗舰店、经销商、分销商、大卖场</h2>
			<p>目前开通的省份有：<%= @cities.join("、")%></p>
			<img src="/assets/blank.png" usemap="#Map" style=" width:652px; height:480px;display:block; position:absolute; z-index:10;"/>
			<map name="Map" id="Map">
				<area shape="rect" coords="549,296,588,312" areaID="2">
				<area shape="poly" coords="499,169,490,168,490,163,485,152,475,156,474,162,463,163,457,166,453,164,452,159,446,167,443,176,447,181,447,187,449,193,448,201,439,205,441,213,447,216,445,225,440,233,448,240,456,242,465,245,468,239,460,237,466,226,475,218,487,214,484,204,488,199,499,200,508,185,498,179" areaID="5">
				<area shape="poly" coords="447,181,448,183,446,187,450,196,448,200,439,204,440,210,446,218,441,229,441,240,440,249,425,255,410,258,401,261,406,249,405,226,409,221,407,211,416,195,422,190,427,184,435,184" areaID="6">
				<area shape="poly" coords="576,172,567,157,567,151,560,142,553,142,548,136,538,146,522,153,514,156,510,163,505,157,502,156,501,167,497,174,503,179,510,188,522,174,532,174,532,180,525,188,528,194,526,200,528,203,544,188,562,185" areaID="7">
				<area shape="poly" coords="576,174,571,162,567,156,565,150,560,142,556,143,548,137,545,140,543,136,539,123,529,127,525,115,523,108,523,107,529,106,536,98,543,101,548,111,561,107,567,112,574,110,578,118,586,123,591,118,595,126,603,128,606,121,613,121,618,128,625,126,628,133,623,143,616,140,609,148,602,153,598,163,586,161" areaID="8">
				<area shape="poly" coords="626,123,625,106,639,106,646,74,649,66,647,57,643,50,615,65,608,66,606,55,598,51,594,48,575,47,560,19,550,9,535,3,520,0,511,6,503,6,508,15,506,22,510,24,518,22,519,30,524,33,537,34,544,29,550,34,549,44,548,51,548,57,548,61,543,64,541,74,536,73,525,88,533,92,538,91,534,100,540,98,548,110,559,107,563,109,565,109,571,109,576,118,585,122,589,123,591,117,592,125,601,126,606,119,619,125" areaID="9">
				<area shape="poly" coords="546,308,545,298,527,267,526,262,521,261,510,253,500,260,497,265,494,259,486,262,478,255,474,261,488,267,495,273,495,277,496,281,501,283,507,281,510,286,509,291,500,293,503,298,506,303,507,305,516,305,522,307,531,309,537,309" areaID="10">
				<area shape="poly" coords="540,310,534,310,531,308,527,310,518,305,513,305,501,321,502,329,500,336,505,338,504,345,507,345,510,354,522,355,520,351,530,354,533,354,535,345,543,339,544,331,549,327,549,317,542,313" areaID="11">
				<area shape="poly" coords="475,268,477,273,472,275,468,269,465,276,459,282,464,289,472,292,471,300,465,304,472,310,471,317,478,319,480,321,484,322,482,328,490,325,499,328,502,320,510,306,510,306,502,300,502,293,510,289,509,284,501,286,496,281,495,275,488,268,474,263,476,268" areaID="12">
				<area shape="poly" coords="490,407,472,386,478,376,482,361,488,360,489,352,494,348,502,349,506,345,512,355,519,353,525,355,530,355,529,361,526,378" areaID="13">
				<area shape="poly" coords="483,326,482,322,446,333,446,339,448,345,441,357,445,360,445,368,447,369,445,384,454,385,457,387,450,395,464,392,472,392,476,376,483,367,487,357,487,353,494,347,504,345,501,337,500,327,490,324" areaID="14">
				<area shape="poly" coords="547,221,534,219,522,214,512,226,504,221,504,214,489,211,476,220,464,234,470,238,467,244,458,252,468,261,477,256,486,261,494,258,499,260,525,236" areaID="15">
				<area shape="poly" coords="444,239,436,251,416,258,400,260,406,272,415,284,426,292,440,292,446,297,461,302,469,298,470,289,458,285,465,274,468,268,475,272,477,267,467,261,462,256,456,257,461,246,447,239" areaID="16">
				<area shape="poly" coords="385,330,379,324,379,316,389,314,399,312,397,303,393,299,392,289,400,288,393,279,410,282,418,290,427,293,442,292,444,297,454,300,460,304,469,308,471,313,472,318,476,322,444,333,443,326,438,330,431,325,415,325,409,322,403,322,402,327,393,323" areaID="17">
				<area shape="poly" coords="410,383,413,385,416,391,421,379,448,382,447,367,442,351,449,343,442,332,443,334,439,330,428,323,415,323,404,319,404,327,392,326,386,330,385,345,388,356,382,359,388,357,388,373,398,373,404,369,411,370,413,378" areaID="18">
				<area shape="poly" coords="393,449,387,436,392,426,399,426,408,417,415,407,420,399,420,391,423,383,432,382,446,384,455,386,449,394,458,394,466,391,472,392,478,403,488,408,476,417,460,419,456,421,447,422,443,428,427,427,411,431,401,439" areaID="19">
				<area shape="poly" coords="396,450,391,454,383,457,376,464,376,473,387,477,399,472,406,458,407,450" areaID="20">
				<area shape="poly" coords="258,259,249,255,244,260,245,266,242,270,249,277,258,293,261,304,255,323,258,334,263,330,268,337,271,344,278,347,281,360,289,366,295,362,302,362,302,354,308,346,312,341,319,336,323,343,327,344,331,344,339,349,345,347,339,342,341,338,349,341,362,334,364,332,381,343,383,344,384,332,376,321,377,314,384,314,398,313,397,302,389,300,378,293,371,293,347,282,337,282,331,269,317,256,303,262,288,254,287,259,299,271,285,281,273,276,259,268" areaID="21">
				<area shape="poly" coords="323,386,332,384,341,389,356,379,364,384,371,381,388,375,386,361,381,360,388,355,387,343,384,347,375,338,373,334,366,333,361,336,356,337,350,338,341,339,352,347,333,352,314,352,314,361,323,364" areaID="22">
				<area shape="poly" coords="280,432,283,425,282,417,286,417,292,417,299,418,307,414,316,416,326,411,332,408,340,402,340,397,330,397,326,394,319,394,317,388,321,384,321,373,325,367,321,361,314,361,314,353,325,353,336,351,333,345,323,347,321,339,317,338,313,340,311,349,306,350,304,361,295,367,290,369,282,358,272,344,271,343,269,337,264,329,260,335,255,326,250,328,252,333,241,333,242,345,249,353,233,368,227,375,224,384,224,391,235,391,245,403,242,413,254,423,274,431" areaID="23">
				<area shape="poly" coords="414,194,398,200,389,208,389,216,381,221,371,216,367,224,384,237,380,250,374,254,363,255,357,254,356,259,356,267,352,271,348,275,344,277,347,281,371,291,379,290,388,298,391,298,391,289,401,287,390,280,408,281,408,272,402,264,403,247,406,237,404,228,409,221,406,214" areaID="24">
				<area shape="poly" coords="374,215,365,210,367,202,364,192,357,194,350,196,349,203,351,209,350,215,343,216,340,220,342,225,344,230,345,240,355,249,358,244,361,240,360,231,362,226,367,222" areaID="25">
				<area shape="poly" coords="266,136,271,152,269,160,275,165,275,169,282,166,294,170,285,180,295,187,301,195,305,201,311,197,311,192,316,193,322,195,333,192,334,196,332,202,327,209,340,223,340,217,348,214,352,209,350,203,349,197,360,196,367,197,363,206,370,214,378,219,386,217,389,207,399,201,407,198,415,196,423,189,427,185,440,185,444,182,444,174,448,161,451,162,459,164,469,159,475,162,478,155,484,154,487,160,491,166,498,170,501,169,501,159,506,157,509,161,543,141,541,135,539,125,525,126,524,109,527,106,530,107,533,100,535,94,533,92,527,89,527,84,540,69,541,70,548,57,551,39,545,32,538,35,525,35,520,25,506,24,509,15,505,8,492,14,488,22,500,30,489,37,486,50,480,55,462,54,461,67,454,77,455,88,467,89,476,89,481,83,493,93,469,97,454,114,444,112,439,120,418,117,412,126,416,134,403,144,384,151,369,151,354,155,338,157,322,149,305,141,291,141" areaID="26">
				<area shape="poly" coords="421,398,419,403,414,409,409,417,403,422,400,428,392,429,385,435,373,431,361,434,347,430,344,422,338,417,332,413,331,408,338,404,339,397,327,397,328,393,326,395,319,388,322,388,331,386,338,389,346,385,355,379,361,384,367,384,371,379,384,378,388,375,397,375,407,371,411,380,409,385,415,392,421,393" areaID="27">
				<area shape="poly" coords="179,212,177,205,184,199,179,191,177,181,191,180,211,177,208,166,213,159,222,160,238,146,249,147,253,137,258,132,254,119,244,107,229,97,207,92,211,84,216,73,210,55,197,48,188,37,178,35,176,38,176,44,165,42,162,47,161,55,147,53,141,49,133,56,127,60,119,67,110,68,102,68,96,74,100,81,97,92,95,99,81,111,64,108,44,112,32,108,13,110,4,119,7,134,3,142,3,149,12,160,11,170,25,184,29,198,44,200,56,190,57,193,68,198,82,194,95,203,106,203,120,205,127,201,148,204,159,209,165,211" areaID="28">
				<area shape="poly" coords="126,327,121,318,110,315,97,312,89,312,51,265,42,264,28,249,17,241,16,225,21,219,32,222,27,214,30,206,44,203,56,193,69,199,81,196,94,205,106,203,116,207,126,202,141,204,152,207,161,214,158,222,158,229,156,238,160,254,172,254,203,269,212,271,217,279,226,283,234,284,238,282,246,275,256,287,256,297,257,311,250,325,249,330,242,329,239,336,233,340,210,332,194,337,181,342,162,340,156,330,147,322,135,319" areaID="29">
				<area shape="poly" coords="299,190,285,178,293,171,294,166,282,166,275,170,272,166,267,157,271,153,265,137,261,135,255,138,253,148,242,148,231,153,218,163,212,163,210,171,212,178,229,179,243,191,249,194,253,185,265,191,274,188,286,203,290,199,303,212,308,209,312,218,317,233,318,237,305,243,305,248,306,251,302,261,293,257,288,257,297,265,313,254,320,256,333,268,336,278,345,282,348,277,346,272,359,270,356,259,359,252,367,255,373,251,383,249,382,236,376,232,364,225,361,233,365,241,358,248,353,248,346,244,342,240,348,234,343,225,331,214,326,210,328,205,335,198,336,192,322,192,314,192,312,196,306,201,296,192" areaID="30">
				<area shape="poly" coords="161,249,172,253,185,264,210,266,214,277,228,282,244,275,243,265,247,258,259,257,264,264,269,271,279,275,283,277,290,272,294,266,286,254,293,254,299,257,305,256,300,252,305,243,316,235,312,222,308,210,304,212,283,200,288,204,276,190,264,191,255,184,251,199,237,187,229,180,216,178,202,178,189,181,177,181,178,191,185,201,179,204,180,214,168,211,160,211,164,215,157,220,158,228,156,238" areaID="31">
				<area shape="poly" coords="550,377,544,378,536,387,528,396,527,409,528,417,536,423,540,425,544,414,547,404,550,392,552,382" areaID="32">
			</map>
			<img src="/assets/blank.png" style=" width:652px; height:480px;"/>
			<img src="/assets/map/2.gif"/>
			<img src="/assets/blank.png" style=" width:652px; height:480px;"/>
			<img src="/assets/blank.png" style=" width:652px; height:480px;"/>
			<img src="/assets/map/5.gif"/>
			<img src="/assets/map/6.gif"/>
			<img src="/assets/map/7.gif"/>
			<img src="/assets/map/8.gif"/>
			<img src="/assets/map/9.gif"/>
			<img src="/assets/map/10.gif"/>
			<img src="/assets/map/11.gif"/>
			<img src="/assets/map/12.gif"/>
			<img src="/assets/map/13.gif"/>
			<img src="/assets/map/14.gif"/>
			<img src="/assets/map/15.gif"/>
			<img src="/assets/map/16.gif"/>
			<img src="/assets/map/17.gif"/>
			<img src="/assets/map/18.gif"/>
			<img src="/assets/map/19.gif"/>
			<img src="/assets/map/20.gif"/>
			<img src="/assets/map/21.gif"/>
			<img src="/assets/map/22.gif"/>
			<img src="/assets/map/23.gif"/>
			<img src="/assets/map/24.gif"/>
			<img src="/assets/map/25.gif"/>
			<img src="/assets/map/26.gif"/>
			<img src="/assets/map/27.gif"/>
			<img src="/assets/map/28.gif"/>
			<img src="/assets/map/29.gif"/>
			<img src="/assets/map/30.gif"/>
			<img src="/assets/map/31.gif"/>
			<img src="/assets/map/32.gif"/>
		</div>
	</div>
	<div class="con_right sale_right" id="sale_right">
		<!--div style="padding-left:30px;">
			请选择左侧可选省份进行查找
		</div-->
		<div class="sale-list">
			<div class="sale-list-t">上海销售网络</div>
			<ul>
				<li>
					<b>上海旗舰店</b>
					<table>
						<tr>
							<td class="sale-label">地&nbsp;&nbsp;&nbsp;&nbsp;址：</td>
							<td>上海旗舰店上海旗舰店上海旗舰店上海旗舰店</td>
						</tr>
						<tr>
							<td class="sale-label">电&nbsp;&nbsp;&nbsp;&nbsp;话：</td>
							<td>021-12345678</td>
						</tr>
						<tr>
							<td class="sale-label">在线客服：</td>
							<td>
								<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=53192877&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:53192877:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
								<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=53192877&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:53192877:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
							</td>
						</tr>
					</table>
				</li>
				<li>
					<b>上海经销商</b>
					<table>
						<tr>
							<td class="sale-label">地&nbsp;&nbsp;&nbsp;&nbsp;址：</td>
							<td></td>
						</tr>
						<tr>
							<td class="sale-label">电&nbsp;&nbsp;&nbsp;&nbsp;话：</td>
							<td></td>
						</tr>
						<tr>
							<td class="sale-label">在线客服：</td>
							<td></td>
						</tr>
					</table>
				</li>
				<li>
					<b>上海分销商</b>
					<table>
						<tr>
							<td class="sale-label">地&nbsp;&nbsp;&nbsp;&nbsp;址：</td>
							<td></td>
						</tr>
						<tr>
							<td class="sale-label">电&nbsp;&nbsp;&nbsp;&nbsp;话：</td>
							<td></td>
						</tr>
						<tr>
							<td class="sale-label">在线客服：</td>
							<td></td>
						</tr>
					</table>
				</li>
				<li>
					<b>上海大卖场</b>
					<table>
						<tr>
							<td class="sale-label">地&nbsp;&nbsp;&nbsp;&nbsp;址：</td>
							<td></td>
						</tr>
						<tr>
							<td class="sale-label">电&nbsp;&nbsp;&nbsp;&nbsp;话：</td>
							<td></td>
						</tr>
						<tr>
							<td class="sale-label">在线客服：</td>
							<td></td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
var roomid = '';
$(function(){
	$.ajaxSetup({   
		beforeSend: function(xhr) {   
			xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));   
		}   
	});  
	$('area').hover(function(){
		var areaId = $(this).attr('areaID');
		// console.log(areaId);
		$('.map_pic img:not(:first)').stop().animate({'opacity':0}, 100);
		$('.map_pic img').eq(areaId).stop().animate({'opacity':1}, 500);
	}, function(){
		$('.map_pic img:not(:first)').stop().animate({'opacity':0}, 100);
		$('.map_pic img').eq(roomid).stop().animate({'opacity':1}, 500);
	}).click(function(e){
		e.preventDefault();
		e.stopPropagation();
		roomid = $(this).attr('areaID');
		$.ajax({
			type: "POST",
			url: '/sale_info',
			data: {
				'id': roomid
			},
			success: function(result){
				if(result && result.info){
					var arr = []
						, prov = result.city
						, info = (new Function("return " + result.info))()
						, tarr = ['旗舰店', '经销商', '分销商', '大卖场']
						, i = 0;
					
					arr.push('<div class="sale-list">');
					arr.push('	<div class="sale-list-t">' + prov + '销售网络</div>');
					arr.push('	<ul>');
					
					for(var t in info){
						arr.push('		<li>');
						arr.push('			<b>' + prov + tarr[i] + '</b>');
						arr.push('			<table>');
						arr.push('				<tr>');
						arr.push('					<td class="sale-label">地&nbsp;&nbsp;&nbsp;&nbsp;址：</td>');
						arr.push('					<td>' + info[t].addr + '</td>');
						arr.push('				</tr>');
						arr.push('				<tr>');
						arr.push('					<td class="sale-label">电&nbsp;&nbsp;&nbsp;&nbsp;话：</td>');
						arr.push('					<td>' + info[t].phone + '</td>');
						arr.push('				</tr>');
						arr.push('				<tr>');
						arr.push('					<td class="sale-label">在线客服：</td>');
						arr.push('					<td>');
						if(info[t].qq){
							arr.push('<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=' + info[t].qq + '&amp;site=qq&amp;menu=yes">');
							arr.push('<img border="0" src="http://wpa.qq.com/pa?p=2:' + info[t].qq + ':51" alt="点击这里给我发消息" title="点击这里给我发消息">');
							arr.push('</a>');
						}
						if(info[t].msn){
							arr.push('<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=' + info[t].qq + '&amp;site=qq&amp;menu=yes">');
							arr.push('<img border="0" src="http://wpa.qq.com/pa?p=2:' + info[t].qq + ':51" alt="点击这里给我发消息" title="点击这里给我发消息">');
							arr.push('</a>');
						}
						arr.push('					</td>');
						arr.push('				</tr>');
						arr.push('			</table>');
						arr.push('		</li>');
						i ++;
					}
					arr.push('	</ul>');
					arr.push('</div>');
					$('#sale_right').html(arr.join(''));
				} else {
					$('#sale_right').html('<div style="padding-left:30px;">暂未开通.</div>');
				}
			},
		});
	});
});
</script>
