<div class="location"><a href="/">首页</a><a href="/sale">全国市场一览</a><span>网上商城</span></div>
<div class="clear"></div>
  <div class="content_box faq">
    <div class="ser_action">
	  <p align="left"><a target="_blank" href="http://item.taobao.com/item.htm?spm=a1z10.1.3-17766959448.1.vz2wQZ&amp;id=16580678940"><img src="/upload/editor/201212120925452451_eday.jpg" alt="" height="373" width="918" /></a><br /></p><p><br /></p><p><br /><a href="http://shanghaibinjie.taobao.com/?spm=2013.1.1000126.3.0j7y8a" target="_blank"></a></p>
	</div>
  </div>
