<%= form_for [:admin, @product_catalog] do |f| %>
<% arr = @product_catalog.name.split("$$$") %>
<table class="newtable">
	<thead>
		<tr>
			<th colspan="2"><%= t %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
		<tr>
			<td class="data_label">分类名称：</td>
			<td class="data_ipt">
				<input type="text" name="name[zh]" value="<%= arr[0] %>" />
			</td>
		</tr>
		<tr>
			<td class="data_label">英文：</td>
			<td class="data_ipt">
				<input type="text" name="name[en]" value="<%= arr[1] if arr[1] %>" />
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td class="data_sbt">
				<input type="submit" name="submit" value="提交" />
			</td>
		</tr>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
	</tbody>
</table>
<% end %>