<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>梦露电气 - MORO</title>
<meta name="keywords" content="智能座便器,智能马桶盖,智能马桶,梦露智能座便器,梦露智能马桶盖,上海梦露,梦露电气" />
<meta name="description" content="MORO梦露电气是一家专业致力于智能座便器产品研发、生产、销售于一体的高新技术集团型企业，率先于行业内首推十天免费试用、一年包换的七星级服务。" />
<%= stylesheet_link_tag    "style", :media => "all" %>
<%= javascript_include_tag "jquery-1.4.4.min", "common", "jScrollbar.jquery", "jquery.soChange" %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="con_layout">
<div class="navbox">
  <div id="navlist">
    <ul>
      <li class="li_01"><a href="about.asp"></a></li>
      <li class="li_02"><a href="about.asp">关于梦露</a>
        <div class="subbox">
          <div class="item"><a href="about.asp">公司简介</a></div>
          <div class="item"><a href="about.asp?s_id=9">企业文化</a></div>
          <div class="item"><a href="about.asp?s_id=10">企业荣誉</a></div>
          <div class="item"><a href="news.asp?c_id=1">MORO资讯</a></div>
          <div class="item"><a href="news.asp?c_id=2">社区公益</a></div>
        </div>
      </li>
      <li class="li_02" id="nav_list"><a href="products.asp">产品展示<em></em></a>
        <div class="subbox">
          <div class="item"><a href="products.asp?c_id=1">智能马桶盖</a>
            <dl>
              <dt><a href="products_show.asp?s_id=1">ML-80</a></dt>
              <dt><a href="products_show.asp?s_id=6">ML-86</a></dt>
              <dt><a href="products_show.asp?s_id=4">ML-86A</a></dt>
              <dt><a href="products_show.asp?s_id=3">ML-88</a></dt>
              <dt><a href="products_show.asp?s_id=2">ML-88A</a></dt>
              <dt><a href="products_show.asp?s_id=8">ML-100</a></dt>
            </dl>
          </div>
          <div class="item"><a href="products.asp?c_id=2">智能一体机</a>
            <dl>
              <dt><a href="products_show.asp?s_id=9">ML-208</a></dt>
              <dt><a href="products_show.asp?s_id=10">ML-228</a></dt>
            </dl>
          </div>
        </div>
      </li>
      <li class="li_02"><a href="sale.asp">全国市场一览</a>
        <div class="subbox">
          <div class="item"><a href="sale.asp">全国实体店</a></div>
          <div class="item"><a href="shop.asp">网上商城</a></div>
        </div>
      </li>
      <li class="li_02"><a href="join.asp">招商加盟</a>
        <div class="subbox">
          <div class="item"><a href="join.asp">招商政策</a></div>
          <div class="item"><a href="process.asp">招商流程</a></div>
        </div>
      </li>
      <li class="li_03"><a href="service.asp">服务支持</a>
        <div class="subbox last">
          <div class="item"><a href="service.asp">故障报修</a></div>
          <div class="item"><a href="faq.asp">常见问题</a></div>
          <div class="item"><a href="down.asp">资料下载</a></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="top_logo"><a href="index.asp"></a></div>
</div>
<div class="clear"></div>

<%= yield %>

<div class="clear"></div>
<div class="footer_box">
  <div class="foot_links">
    <ul class="fl">
      <li><a href="/contact">联系我们</a></li>
      <li><a href="/careers">人才招聘</a></li>
      <li><a href="/declaration">隐私声明</a></li>
    </ul>
	<div class="weibo"><iframe allowtransparency="" border="0" frameborder="0" height="22" marginheight="0" marginwidth="0" scrolling="no" src="http://widget.weibo.com/relationship/followbutton.php?width=200&amp;height=22&amp;uid=2973801860&amp;style=5&amp;btn=red&amp;dpc=1" style="width: 62px; height: 22px;" width="200"></iframe></div>
	<div class="mail"><a href="mailto:moro_sh@morocn.com">官方邮箱</a></div>
    <span class="fr"><em class="tel"></em>全国免费服务热线：400-820-0407</span>
  </div>
 <div class="copyright">
   <span class="fl">版权所有 <span style=" font-family:Arial">&copy;</span> 2008-2012 梦露（中国）有限公司，保留所有权利。</span>
   <span class="fr"><a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备12033067号-1</a></span>
 </div>
 <div class="foot_lj">
   <div class="foot_link fr">
 <a href="http://www.cxsled.com/" target="_blank">LED路灯</a>
   </div>
   <div class="foot_client fl">
 <a href="http://" target="_blank"><img src="upload/client/3175121204203602_large.jpg" /></a><a href="http://" target="_blank"><img src="upload/client/2049121204184435_large.jpg" /></a><a href="http://" target="_blank"><img src="upload/client/9509121114160127_large.jpg" /></a><a href="http://" target="_blank"><img src="upload/client/3485121114160108_large.jpg" /></a><a href="http://" target="_blank"><img src="upload/client/6559121114160006_large.jpg" /></a>
    </div>
</div>
</div>
</body>
</html>
